<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="post" action="/login">
    登录页面
    用户名：<input name="username" type="text"><br><br>
    密码：<input name="password" type="password"><br>
    <button type="submit">登录</button>
    <a href="/reg">注册</a>
  </form>
</body>

</html>