<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/记账本.css">
</head>

<body>
  <div id="container">
    <div id="text">
      <h1>记账本</h1>
      <a id="logout" href="/logout">退出</a>
      <hr>
      <form method="post" action="/account/success">
        <div id="content">
          <p>事项：<input type="text" name="title"></p>
          <p>时间：<input type="datetime-local" name="time"></p>
          <p>类型：<select name="category">
              <option value="-1">支出</option>
              <option value="1">收入</option>
            </select> </p>
          <p>金额：<input type="text" name="cost"></p>
          <p>备注：<input type="text" name="remark"></p>
          <p><input type="submit" class="create" value="创建"></button></p>
        </div>
      </form>
    </div>
  </div>
</body>
<script src="/js/记账本.js"></script>

</html>